* {
  box-sizing: border-box;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}

html, body {
  height: 100%;
}

/*---------------Header--------------*/
.navbar {
  background-color: black;
  opacity: 1;
  position: absolute;
  z-index: 1000;
}

#logo {
  width: 50px;
  height: 50px;
}
/*-------------fin header-------------*/

/*-------------first page-------------*/


.first-page {
  background-image: url("../img/photofond8.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  text-align: center;
  padding-top: 10%;
}
.title {
  color: goldenrod;
  display: inline;
  font-family: Dancing+Script;
}
/*-----------SCROLL!-----------*/
.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #fa9c1e
  ;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  }ul {
    padding-left: 30px;
    padding-right: 30px;
  }

  /*-------------SCROLL FIN--------------*/

  /*------------MA PHOTO-----------------*/

  #picture img {
    height: 300px;
    border-radius: 5px;
    margin-top: 65px;
  }

  #picture {
    float: center;
    margin-bottom: 50px;
  }

  /*-----------MA PHOTO FIN-------------*/

  .container-2 {
    background: linear-gradient(90deg, orange, orangered);

  }

  .container-2 h3 {
    color: black;
    font-family: Dancing+Script;
    font-style: bold;
    font-size: 2em;
    margin-top: 65px;
    text-align: center;


  }

  .container-3 {
    background: linear-gradient(90deg, orangered, orange);
    border-top: 2px solid black;
  }

  .container-3 h3{
    color: black;
    font-family: Dancing+Script;
    font-style: bold;
    font-size: 2em;
    margin-top: 65px;
    text-align: center;

  }

  .sect4 {
    background: linear-gradient(90deg, orange, orangered);
    border-top: 2px solid black;
  }

  .container-4 h3 {
    color: black;
    font-family: Dancing+Script;
    font-style: bold;
    font-size: 2em;
    margin-top: 65px;
    text-align: center;
  }

  .sect5 {
    background: linear-gradient(90deg, orangered, orange);
    border-top: 2px solid black;
  }

  .container-5 h3 {
    color: black;
    font-family: Dancing+Script;
    font-style: bold;
    font-size: 2em;
    margin-top: 65px;
    text-align: center;
  }

  .sect6 {
    background: linear-gradient(90deg, orange, orangered);
    border-top: 2px solid black;
  }

  .sect6 h3 {
    color: black;
    font-family: Dancing+Script;
    font-style: bold;
    font-size: 2em;
    margin-top: 65px;
    text-align: center;
  }

  .sect7 {
    background: linear-gradient(90deg, orangered, orange);
    border-top: 2px solid black;
  }

  .container-7 h3 {
    color: black;
    font-family: Dancing+Script;
    font-style: bold;
    font-size: 2em;
    margin-top: 65px;
    text-align: center;
  }

  .competences {
    float: center;
    margin-left: auto;
    margin-right: auto;
  }
  .interets img {
    position: absolute;
    display: block;
    margin: 0 auto;
  }

  .mesxp {
    font-family: Bellefair;
    font-size: 2em;
    font-style: normal;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    color: black;
  }

  .mesetudes h2 {
    color: black;
    font-family: Shrikhand;
    font-style: bold;
    font-size: 2em;
    margin-top: 65px;
    text-align: center;
  }


  h3 {
    font-family: Shrikhand;
    font-style: bold;
    font-size: 5em;
    margin-top: 65px;
    text-align: center;
  }


  p {
    font-family: Bellefair;
    font-size: 2em;
    font-style: normal;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    color: black;
  }

  .placeholder {
    height: 100px;
  }


  .effect12 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
.col-sm-4 {
  padding-bottom: 5%;
}
.col-sm-12 {
  padding-bottom: 5%;
}
